# Introducción a SQL
***
<div class="panel panel-danger">
    <div class='panel-heading'>
    <h4>Antes de empezar</h4>
    </div>
    <div class='panel-body'>
    <p>Para poder ejecutar queries a la base de datos, necesitamos tener instalado antes el paquete [ipython-sql](https://github.com/catherinedevlin/ipython-sql).
    
    <p>Este paquete nos permite escribir las queries sql en las celdas del notebook y visualizar el resultado como tablas html renderizadas
    <p>Ejecuta `!pip install ipython-sql` si es la primera vez que usas este notebook
    </div>
</div>

In [ ]:
!pip install ipython-sql

Una vez instalado, podemos invocar el entorno `SQL` usando `%load_ext sql`.
Esto nos permitira usar el magic de ipython `%%sql` al principo de **cada** celda y ejecutar comandos sql directamente

In [2]:
# Esto carga el paquete instalado y nos conecta con la base de datos contenida en el fichero "bdd_notas.sqlite"
%load_ext sql
%sql sqlite:///bdd_notas.sqlite

'Connected: None@bdd_notas.sqlite'

<div class="panel panel-success">
    <div class='panel-heading'>
    <h4>Empecemos</h4>
    </div>
</div>


Los objetivos de este notebook son:

1. Entender la sintaxis SQL básica
2. Entender la diferencia entre "inner", “left”, “right” y “full” joins
3. Entender groupings y como se conectan a las funciones de agregación
4. Como ejecutar queries SQL y guardar los resultados en pandas.DataFrame()

# 1. SQL: sintaxis básica

### Nombres clave:

- Relational database
- Table
- Row
- Column
- (Primary key)
- (Foreign key)

### Verbos clave:

* `CREATE TABLE`, `DROP TABLE`: Crear o eliminar tablas
* <span style="color:green">SELECT:</span>: Seleccionar las columnas deseadas de la tabla
* `INSERT` / `UPDATE` / `DELETE`: para crear, modificar, o borrar filas de una tabla

### Modificadores clave:
* <span style="color:green">WHERE</span>: imponer una condición/filtro sobre los valores de las columnas
* <span style="color:green">ORDER BY</span>: ordenar
* <span style="color:green">GROUP BY</span>: agregar los valores por un campo
* <span style="color:green">JOIN</span>: combinar tablas en una query
* <span style="color:green">HAVING</span>: impone una condición/filtro sobre valores agregados por el `GROUP BY`
* <span style="color:green">LIMIT</span>: el límite de valores que queremos sacar

Las queries en SQL se ejecutan contra una base de datos combinando los diferentes verbos y los modificadores clave.

Al principio de éste notebook nos hemos conectado a una base de datos de juguete para practicar como construir queries. Existen las siguientes columnas:

Columnas|
:--------:|
estudiantes  | 
asignaturas | 
notas |

### 1. Seleccionar valores de columnas

```SQL
SELECT column_name1,
       column_name2
FROM table_name
[LIMIT 100];
```
Si en SELECT indicamos un \*, apareceran todas las columnas

LIMIT va entre entre braquets para indicar un campo opcional

In [14]:
%%sql

SELECT *
FROM estudiantes
LIMIT 3

Done.

[(101, 'Juan'), (102, 'Maria'), (103, 'Pedro')]

Ejercicio: Devuelve todos los campos de la tabla `notas`. Limita la salida a 5 elementos